<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.iosd.benefit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeasurementActivity"
            android:label="Measurements"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".NutritionActivity"
            android:label="Have A Look At Nutrition!"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".TrackNLogActivity"
            android:label="Track \&apos;N\&apos; Log"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TrackNLogTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="My Goals"
            android:parentActivityName=".MainActivity"
            android:theme="@style/GoalTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".CoachActivity"
            android:label="Coach!"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TrackNLogTheme" />
        <activity
            android:name=".WorkoutActivity"
            android:label="Workout Section"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".AbsWorkoutActivity"
            android:label="Abs Workout"
            android:parentActivityName=".WorkoutActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.WorkoutActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".UpdatesActivity"
            android:label="What&apos;s New!"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="Chat Bot"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.benefit.MainActivity" />
        </activity>

        <activity android:name=".OnBoarding.onBoardingActivity"
            android:theme="@style/Theme.Intro">

        </activity>
        <activity
            android:name=".OnBoarding.getStartedActivity">


        </activity>
    </application>

</manifest>